// list reset
%listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

// clearfix
%clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

// transition
%transition {
	transition: all .3s ease-in-out;
}

// justify nav
%justify {
	text-align: justify;
	font-size: 1px;
	line-height: 0px;

	>* {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}

	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
}

// Common padding
%p-100 {
	padding-block: rem-calc(40px);

	@include media-breakpoint-up(md) {
		padding-block: 40px;
	}

	@include media-breakpoint-up(lg) {
		padding-block: 50px;
	}

	@include media-breakpoint-up(xl) {
		padding-block: 60px;
	}

	@include media-breakpoint-up(xxl) {
		padding-block: 100px;
	}
}

%section-padding {
	padding-inline: rem-calc(12px);

	@include media-breakpoint-up(md) {
		padding-inline: 20px;
	}

	@include media-breakpoint-up(lg) {
		padding-inline: 30px;
	}

	@include media-breakpoint-up(xl) {
		padding-inline: 60px;
	}

	@include media-breakpoint-up(xxl) {
		padding-inline: 125px;
	}
}

%section-margin {
	margin-bottom: rem-calc(40px);

	@include media-breakpoint-up(md) {
		margin-bottom: 30px;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 40px;
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 60px;
	}

	@include media-breakpoint-up(xxl) {
		margin-bottom: 100px;
	}
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex !important;
}

.d-md-none {
	@include media-breakpoint-up(md) {
		display: none !important;
	}
}

.d-lg-none {
	@include media-breakpoint-up(lg) {
		display: none !important;
	}
}

.d-md-flex {
	@include media-breakpoint-up(md) {
		display: flex !important;
	}
}

.d-lg-flex {
	@include media-breakpoint-up(lg) {
		display: flex !important;
	}
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.m-auto {
	margin-inline: auto;
}

.grid {
	&-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	&-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	&-4 {
		grid-template-columns: repeat(4, 1fr);
	}
}