$white: #ffffff;
$black: #000000;
$theme-primary-color: #172554;
$theme-secondary-color: #006498;

$theme-gray: #4B535D;
$card-box-shadow-light: 0px 94px 147px 0px rgba(198, 198, 197, 0.06), 0px 47.046px 73.572px 0px rgba(198, 198, 197, 0.09), 0px 28.338px 44.316px 0px rgba(198, 198, 197, 0.12), 0px 18.161px 28.4px 0px rgba(198, 198, 197, 0.14), 0px 11.77px 18.407px 0px rgba(198, 198, 197, 0.15), 0px 7.409px 11.587px 0px rgba(198, 198, 197, 0.18), 0px 4.257px 6.657px 0px rgba(198, 198, 197, 0.21), 0px 1.874px 2.93px 0px rgba(198, 198, 197, 0.27);