a,
button,
input,
textarea,
select {
  &.key_focused {
    outline: 1px dashed #000 !important;
  }

  &:focus {
    outline: none;
  }
}

a,
input,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

button,
input[type="submit"] {
  cursor: pointer;
}

noscript {
  text-align: center;
  padding: 15px;
}

.sr-only.sr-only-focusable {
  &:focus {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    background: #051d2f;
    padding: 10px 15px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;

    &[accesskey="m"],
    &[accesskey="c"] {
      z-index: 9999;
      position: fixed;
      text-decoration: none;
    }
  }
}

ins,
abbr {
  text-decoration: none;
}

.hidden,
legend {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 0;
  color: $black;
  font-size: rem-calc(16px);
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.tag-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: rem-calc(8px);

  @include media-breakpoint-up(md) {
    gap: 8px;
  }

  &.tag-wrap--lg {
    gap: rem-calc(16px);

    @include media-breakpoint-up(md) {
      gap: 16px;
    }
  }
}

.meta-type {
  position: relative;
  color: $black;
  margin-left: rem-calc(8px);
  padding-left: rem-calc(5px);

  @include media-breakpoint-up(md) {
    margin-left: 10px;
    padding-left: 5px;
  }

  &:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 10px;
    background: $black;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.date {
  color: $black;
  display: inline;
  line-height: 1.16;
}

.woocommerce-breadcrumb {
  font-size: rem-calc(12px);

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.backdrop-active {
  overflow: hidden;
  padding-right: var(--body-scroll-width) !important;
}

.backdrop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.2);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  transition: 0.5s ease opacity, 0.5s ease visibility, 0.5s ease filter;

  .backdrop-active & {
    opacity: 1;
    visibility: visible;
  }
}

.section-title {
  font-family: 'Poppins', sans-serif;
  color: $black;
  font-weight: 500;
  font-size: rem-calc(22px);
  line-height: 1.1;
  margin-block: 0 rem-calc(15px);

  @include media-breakpoint-up(md) {
    font-size: 26px;
    margin-bottom: 15px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 34px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 38px;
  }
}

.section-header {
  margin-bottom: rem-calc(20px);

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: rem-calc(10px);
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }

  .section-subtitle {
    font-family: "Inter", sans-serif;
    font-size: rem-calc(16px);
    color: $theme-gray;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
  &.section-header--white {
    .section-title,
    .section-subtitle {
      color: $white;
    }
  }
}

.content-section {
  @extend %section-padding;
  margin-block: rem-calc(40px);

  @include media-breakpoint-up(md) {
    margin-block: 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-block: 40px;
  }

  @include media-breakpoint-up(xl) {
    margin-block: 60px;
  }

  @include media-breakpoint-up(xxl) {
    margin-block: 100px;
  }
}

.cc-window {
  @include media-breakpoint-up(md) {
    gap: 40px;
  }
}

.slick-dots {
  @extend %listreset;
  position: absolute;
  left: 10px;
  right: 10px;
  font-size: 0;
  text-align: center;

  >li {
    display: inline-block;
    vertical-align: top;
    margin: 0 rem-calc(6px);
  }

  .slick-active {
    button {
      background: $theme-primary-color;
      border-color: $theme-primary-color;
    }
  }

  button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: rem-calc(10px);
    height: rem-calc(10px);
    background: rgba($theme-secondary-color, 0.5);
    border-radius: rem-calc(12px);
    border: 1px solid rgba($theme-secondary-color, 0.5);

    &:hover {
      background: $theme-primary-color;
    }
  }
}