.header {
    background: rgba($theme-secondary-color,0.13);
    @extend %section-padding;
}

.header-top__wrap {
    align-items: center;
    @include media-breakpoint-up(md) {
        padding: 26px 0;
    }
    .logo {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .license-wrap {
        max-width: 30%;
        flex: 0 0 30%;
        color: $theme-secondary-color;
        text-align: center;

        span {
          display: block;
        }
    }
    .header-button__wrap {
        display: flex;
        justify-content: flex-end;
        max-width: 40%;
        flex: 0 0 40%;
        gap: 20px;
    }
}

.header-navigation {
    .nav-opener {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        background: none;
        outline: none;
        border: none;
      
        @include media-breakpoint-up(md) {
          margin-top: 10px;
        }
      
        @include media-breakpoint-up(lg) {
          display: none;
        }
      
        @include media-breakpoint-down(sm) {
          order: -10;
        }
      
        .nav-bar {
          font-size: 0;
          height: 2px;
          width: 24px;
          background: $black;
          border-radius: 20px;
          transition: 0.3s ease-in-out background;
          display: block;
          position: relative;
      
          .nav-active & {
            background: none;
            transition-delay: 0.1s
          }
      
          .resize-active & {
            transition: none;
          }
      
          &:before,
          &:after {
            position: absolute;
            left: 0;
            height: 2px;
            background: $black;
            content: "";
            margin: 0;
            border-radius: 20px;
      
            .nav-active & {
              transition-delay: 0s, 0.3s;
            }
      
            .resize-active & {
              transition: none;
              transition-delay: 0s, 0s;
            }
          }
      
          &:before {
            top: -6px;
            width: 100%;
            transition: 0.3s ease top 0.3s, 0.3s ease transform 0s, 0.3s ease-in-out background;
      
            .nav-active & {
              top: 0;
              transform: rotate(45deg);
              transition: 0.3s ease top 0s, 0.3s ease transform 0.3s, 0.3s ease-in-out background;
            }
          }
      
          &:after {
            bottom: -6px;
            transition: 0.3s ease bottom 0.3s,0.3s ease transform 0s, 0.3s ease-in-out background;
            width: calc(100% - 5px);
      
            .nav-active & {
              bottom: 0;
              width: 100%;
              transform: rotate(-45deg);
              transition: 0.3s ease bottom 0s, 0.3s ease transform 0.3s, 0.3s ease width 0.3s, 0.3s ease-in-out background;
            }
          }
        }
      }
    .main-navigation {
        background: $theme-secondary-color;
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        @include media-breakpoint-up(lg) {
          margin-bottom: -44px;
          border-radius: 50px;
          padding: 21px 10px;
        }
        @include media-breakpoint-down(md) {
          position: fixed;
          top: 118px;
          left: 0;
          width: 275px;
          bottom: 0;
          transition: 0.5s ease opacity, 0.5s ease visibility, 0.5s ease transform;
          transform: translate(-100%, 0);
          opacity: 0;
          visibility: hidden;
          z-index: 99;
          .nav-active & {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
          }
        }
        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            @include media-breakpoint-up(lg) {
              display: flex;
              gap: 20px;
            }
            @include media-breakpoint-up(xl) {
              gap: 40px;
            }
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    bottom: 0;
                    height: 1px;
                    background: $white;
                    opacity: 0;
                    transition: 0.5s ease all;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                        width: 100%;
                    }
                }
                a {
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        color: $white;
                    }
                }
            }
            
        }
    }
}