.header {
    background: rgba($theme-secondary-color,0.13);
    @extend %section-padding;
}

.header-top__wrap {
    align-items: center;
    @include media-breakpoint-up(md) {
        padding: 26px 0;
    }
    .logo {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .license-wrap {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .header-button__wrap {
        display: flex;
        max-width: 40%;
        flex: 0 0 40%;
        gap: 20px;
    }
}

.header-navigation {

    .main-navigation {
        background: $theme-secondary-color;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        width: 100%;
        margin-bottom: -20px;
        position: relative;
        @include media-breakpoint-up(md) {
            padding: 10px;
            
        }
        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            @include media-breakpoint-up(md) {
                gap: 20px;
            }
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    bottom: 0;
                    height: 1px;
                    background: $white;
                    opacity: 0;
                    transition: 0.5s ease all;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                        width: 100%;
                    }
                }
                a {
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        color: $white;
                    }
                }
            }
            
        }
    }
}