.company {
    @extend %section-padding;
    @extend %p-100;

    .company-content {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            text-align: center;
        }

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }

        .company-text {

            font-size: 16px;
            line-height: 1.6;
            text-align: justify;
            width: 100%;

            @include media-breakpoint-up(md) {
                width: 55%;
            }
        }

        .company-image {
            width: 100%;
            margin-top: rem-calc(20px);

            @include media-breakpoint-up(md) {
                margin-top: 0;
                width: 45%;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.values {
    @extend %section-margin;

    .values-grid-wrap {
        @extend %section-padding;
        background-color: rgba($theme-secondary-color, 0.13);
        padding-block: rem-calc(30px);

        @include media-breakpoint-up(md) {
            padding-block: 40px;
        }

        @include media-breakpoint-up(xl) {
            padding-block: 60px;
        }
    }

    .values-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem-calc(20px);

        @include media-breakpoint-up(md) {
            gap: 50px;
        }

        .values-item {
            transition: transform 0.3s ease-in-out;

            .icon {
                margin-bottom: rem-calc(15px);

                @include media-breakpoint-up(md) {
                    margin-bottom: 20px;
                }

                img {
                    width: 40px;
                    height: auto;
                }
            }

            .values-title {
                font-weight: 700;
                color: $theme-primary-color;
                margin-bottom: rem-calc(10px);
                font-size: rem-calc(18px);

                @include media-breakpoint-up(md) {
                    margin-bottom: 10px;
                    font-size: 20px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 22px;
                }
            }

            .values-text {
                color: $theme-primary-color;
                font-size: 16px;
                line-height: 1.5;

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // Responsive Design
    @media (max-width: 992px) {
        .values-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .values-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.leadership {
    @extend %section-margin;

    .leadership-wrap {
        background: $theme-primary-color;
    }
    .container {
        @extend %section-padding;
    }
    .leader {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        color: $white;

        @include media-breakpoint-up(md) {
            flex-direction: row-reverse;
        }

        @include media-breakpoint-down(md) {
            flex-direction: column;
            text-align: center;
        }

        @include media-breakpoint-down(md) {
            padding: rem-calc(40px 12px);
        }

        .leader-image {
            flex: 1;
            max-width: 300px;

            img {
                width: 100%;
                border-radius: rem-calc(20px);
                max-width: rem-calc(300px);
                @include media-breakpoint-up(lg) {
                    border-radius: 30px;
                    max-width: 100%;
                }
            }
        }

        .leader-text {
            flex: 2;
            padding: rem-calc(40px 0 0);
            line-height: 1.6;
            font-size: rem-calc(16px);

            @include media-breakpoint-up(md) {
                padding-block: 40px 40px;
                font-size: 16px;
            }

            @include media-breakpoint-up(lg) {
                padding: 50px 50px 50px 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 60px 60px 60px 0;
            }

            

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .leader-name {
                font-size: 20px;
                font-weight: bold;
                margin-top: 10px;
            }

            .leader-position {
                font-size: 16px;
                color: #777;
            }
        }
    }
}

.vision-mission {
    @extend %section-margin;
    @extend %section-padding;

    .vm-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem-calc(30px);
        margin-top: rem-calc(30px);
        @include media-breakpoint-up(md) {
            gap: 30px;
            margin-top: 30px;
        }
    }

    .vm-item {
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            padding: 30px;
            max-width: calc(50% - 30px);
            flex: 0 0 calc(50% - 30px);
        }

        &:last-child {
            @include media-breakpoint-up(md) {
                max-width: calc(100% - 30px);
                flex: 0 0 calc(100% - 30px);
            }
        }
        .section-title {
            text-align: left;
            font-size: rem-calc(18px);
            margin-bottom: rem-calc(10px);
            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
                font-size: 20px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 22px;
            }
        }
        .vm-img {
            margin-bottom: rem-calc(10px);

            @include media-breakpoint-up(md) {
                margin-bottom: 20px;
            }
            img {
                max-height: rem-calc(35px);
                max-width: rem-calc(40px);
                @include media-breakpoint-up(md) {
                    max-width: 50px;
                    max-height: 40px;
                }
            }
        }

        h3 {
            margin-bottom: 15px;
        }

        p {
            line-height: 1.6;
            color: $theme-gray;
            font-size: rem-calc(16px);

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.ethics {
    img {
        width: 100%;
    }
}

.legal {
    .legal-docs {
        background: $theme-primary-color;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        @extend %p-100;
    }
}

.awards {
    @extend %section-padding;
    @extend %section-margin;

    .awards-wrap {
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            gap: rem-calc(30px);
        }

        @include media-breakpoint-up(md) {
            gap: 40px;
        }

        @include media-breakpoint-up(lg) {
            gap: 60px;
        }

        @include media-breakpoint-up(xl) {
            gap: 80px;
        }
    }

    .awards-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;

        @include media-breakpoint-up(md) {
            flex: 0 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
        }

        @include media-breakpoint-up(md) {
            flex: 0 0 calc(50% - 30px);
            max-width: calc(50% - 30px);
        }

        @include media-breakpoint-up(xl) {
            flex: 0 0 calc(50% - 40px);
            max-width: calc(50% - 40px);
        }

        .awards-content {
            margin-top: auto;

            .awards-title {
                font-size: rem-calc(18px);
                margin-bottom: rem-calc(10px);

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .awards-img {
        margin-bottom: rem-calc(20px);

        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
            margin-top: auto;
        }

        img {
            object-fit: contain;
            margin-inline: auto;

            @include media-breakpoint-up(md) {
                max-width: 211px;
            }
        }
    }

    .btn-wrap {
        margin-top: rem-calc(20px);

        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 50px;
        }
    }
}

.commitments {
    .commitments-wrap {
        background: $theme-primary-color;
    }

    .commitments-wrapper {
        position: relative;
        color: $white;
        @extend %section-padding;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }

        @include media-breakpoint-up(md) {
            gap: 20px;
        }

        &:before {
            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 100%;
                background: $white;
            }
        }

        .commitment-item {
            flex: 0 0 100%;
            max-width: 100%;
            padding: rem-calc(40px 0);

            @include media-breakpoint-up(md) {
                max-width: calc(50% - 10px);
                flex: 0 0 calc(50% - 10px);
                padding: 30px;
                font-size: 16px;
                line-height: 1.6;
            }

            &:last-child {
                position: relative;


                &:before {
                    @include media-breakpoint-down(sm) {
                        content: "";
                        display: block;
                        position: absolute;
                        top: rem-calc(-10px);
                        left: rem-calc(-12px);
                        right: rem-calc(-12px);
                        height: rem-calc(10px);
                        background: $white;
                    }
                }
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .nepali-text {
        font-family: 'Kalimati', sans-serif; // Use a suitable Nepali font
    }
}


.conduct-section {
    background: rgba($theme-secondary-color, 0.13);
    @extend %p-100;
    @extend %section-padding;

    .section-header {
        .section-subtitle {
            color: $theme-primary-color;
            font-size: rem-calc(18px);

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }
    }

    .conduct-section-text {
        font-size: rem-calc(16px);

        @include media-breakpoint-up(md) {
            font-size: 16px;
        }

        ul {
            &:not(:last-child) {
                margin-bottom: rem-calc(15px);

                @include media-breakpoint-up(md) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}