.logo-wrap {
    row-gap: rem-calc(20px);
    column-gap: rem-calc(20px);
    @include media-breakpoint-up(md) {
        row-gap: 30px;
        column-gap: 30px;
    }

    @include media-breakpoint-up(lg) {
        column-gap: 40px;
        row-gap: 40px;
    }

    @include media-breakpoint-up(xl) {
        column-gap: 60px;
    }

    @include media-breakpoint-up(xxl) {
        column-gap: 100px;
    }
}

.logo-item {
    border: 2px solid $theme-secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md) {
        min-height: 174px;
        flex: 0 0 calc(25% - 15px);
        max-width: calc(25% - 15px);
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
    @include media-breakpoint-up(xl) {
        flex: 0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);
    }
    @include media-breakpoint-up(xxl) {
        flex: 0 0 calc(25% - 50px);
        max-width: calc(25% - 50px);
    }
    img {
        width: 100%;
        object-fit: contain;
    }
}