.page-template-default {
    .woocommerce-breadcrumb {
        @include media-breakpoint-up(md) {
            padding-top: 20px;
            margin-bottom: -50px;
            position: relative;
            z-index: 1;
        }
    }

    h1 {
        font-size: rem-calc(22px);
        font-weight: 700;
        color: $theme-primary-color;
        margin: rem-calc(20px) 0;

        @include media-breakpoint-up(md) {
            font-size: 30px;
            margin: 20px 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 36px;
            margin: 25px 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 42px;
            margin: 30px 0;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 48px;
        }
    }

    h2 {
        font-size: rem-calc(18px);
        font-weight: 700;
        color: $theme-primary-color;
        margin: rem-calc(20px) 0;

        @include media-breakpoint-up(md) {
            font-size: 22px;
            margin: 20px 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 26px;
            margin: 25px 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 32px;
            margin: 30px 0;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 38px;
        }
    }

    h3 {
        font-size: rem-calc(16px);
        font-weight: 700;
        color: $theme-primary-color;
        margin: rem-calc(15px) 0;

        @include media-breakpoint-up(md) {
            font-size: 20px;
            margin: 15px 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 24px;
            margin: 20px 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 26px;
            margin: 25px 0;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 32px;
        }
    }

    h4,
    h5,
    h6 {
        font-size: rem-calc(14px);
        font-weight: 700;
        color: $theme-primary-color;
        margin: rem-calc(15px) 0;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            margin: 20px 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 20px;
            margin: 25px 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 22px;
            margin: 30px 0;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 24px;
        }
    }

    p {
        font-size: rem-calc(12px);
        line-height: 1.5;
        margin: rem-calc(0 0 15px);

        @include media-breakpoint-up(md) {
            font-size: 14px;
            line-height: 1.77;
            margin: 0 0 15px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
            margin: 0 0 20px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 18px;
            margin: 0 0 25px;
        }

        @include media-breakpoint-up(xxl) {
            margin: 0 0 30px;
        }

        +h1,
        +h2,
        +h3 {
            margin-top: rem-calc(30px);

            @include media-breakpoint-up(md) {
                margin-top: 30px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 50px;
            }

            @include media-breakpoint-up(xxl) {
                margin-top: 60px;
            }
        }
    }

    .content_control {
        ol {
            &.list-lower-alpha {
                list-style: lower-alpha;
            }

            &.list-roman {
                list-style: lower-roman;
            }

            ul {
                list-style: auto;
            }

        }

        ol,
        ul {

            +h1,
            +h2,
            +h3 {
                margin-top: rem-calc(30px);

                @include media-breakpoint-up(md) {
                    margin-top: 30px;
                }

                @include media-breakpoint-up(lg) {
                    margin-top: 40px;
                }

                @include media-breakpoint-up(xl) {
                    margin-top: 50px;
                }

                @include media-breakpoint-up(xxl) {
                    margin-top: 60px;
                }
            }
        }

        ol li:not(:last-child),
        ul li:not(:last-child) {
            margin-top: rem-calc(16px);

            @include media-breakpoint-up(md) {
                margin-top: 20px;
            }
        }

        ul ul,
        ul ol,
        ol ul,
        ol ol {
            margin-top: rem-calc(16px);

            @include media-breakpoint-up(md) {
                margin-top: 20px;
            }
        }
    }
}


.content-main-inner {
    width: 100%;
    padding: 0 rem-calc(15px 40px);

    @include media-breakpoint-up(md) {
        padding-bottom: 40px;
        max-width: 1070px;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 60px;
    }

    @include media-breakpoint-up(xxl) {
        padding-bottom: 80px;
    }

    h2 {
        font-size: rem-calc(17px);
        font-weight: 700;
        color: $theme-primary-color;
        margin-bottom: rem-calc(15px);

        @include media-breakpoint-up(md) {
            font-size: 22px;
            margin-bottom: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 26px;
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 32px;
            margin-bottom: 30px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 38px;
        }
    }

    h5 {
        font-size: rem-calc(14px);
        font-weight: 700;
        color: $theme-primary-color;
        margin-bottom: rem-calc(15px);

        @include media-breakpoint-up(md) {
            font-size: 18px;
            margin-bottom: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 22px;
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    h6 {
        font-size: rem-calc(13px);
        font-weight: 600;
        color: $black;
        margin-bottom: rem-calc(8px);

        @include media-breakpoint-up(md) {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }
    }

    p {
        font-size: rem-calc(13px);
        line-height: 1.5;
        margin-bottom: rem-calc(20px);

        @include media-breakpoint-up(md) {
            font-size: 16px;
            line-height: 1.778;
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 30px;
        }
    }

    figure {
        margin: rem-calc(20px -15px);

        @include media-breakpoint-up(md) {
            margin: 30px 0;
        }

        @include media-breakpoint-up(lg) {
            margin: 45px 0;
        }

        @include media-breakpoint-up(xxl) {
            margin: 60px 0;
        }
    }
}
