.photo-gallery {
  max-width: 100%;
  margin: 0 auto;
  padding-block: rem-calc(40px);
  text-align: center;
  @extend %section-padding;
  @include media-breakpoint-up(md) {
    padding-block: 40px;
  }
  @include media-breakpoint-up(md) {
    padding-block: 50px;
  }
}

.grid {
  display: flex;
  margin-left: -10px;
  width: auto;
  flex-wrap: wrap;
}

.grid-item {
  width: calc(33.333% - 10px);
  margin-left: 10px;
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .grid-item {
    width: 100%;
    margin-left: 0;
  }
}

.vdo-slider-section {
  margin-bottom: rem-calc(30px);
  @extend %section-padding;
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 60px;
  }

  .vdo-slider-holder {
    @include media-breakpoint-down(sm) {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      flex-wrap: nowrap;
      justify-content: flex-start;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      padding-block: rem-calc(10px);

      @include media-breakpoint-down(sm) {
        font-size: rem-calc(11px);
      }

      @include media-breakpoint-up(md) {
        padding-block: 15px;
      }

      &.slick-next {
        padding-right: rem-calc(10px);

        @include media-breakpoint-up(md) {
          padding-right: 15px;
        }
      }

      &.slick-prev {
        padding-left: rem-calc(10px);

        @include media-breakpoint-up(md) {
          padding-left: 15px;
        }
      }
    }

    .slick-next {
      left: 0;

      @include media-breakpoint-up(md) {
        transform: translate(-50%, -50%);
      }

      @include media-breakpoint-up(lg) {
        left: -12.5px;
      }

      @include media-breakpoint-up(xl) {
        left: -15px;
      }

      @include media-breakpoint-up(xxl) {
        left: -22.5px;
      }
    }

    .slick-prev {
      right: 0;

      @include media-breakpoint-up(md) {
        transform: translate(50%, -50%);
      }

      @include media-breakpoint-up(lg) {
        right: -12.5px;
      }

      @include media-breakpoint-up(xl) {
        right: -15px;
      }

      @include media-breakpoint-up(xxl) {
        right: -22.5px;
      }
    }
  }

  .vdo-slider {
    @include media-breakpoint-down(sm) {
      min-width: rem-calc(137px);
      max-width: rem-calc(137px);
      padding: rem-calc(0 0 0 15px);
    }

    @include media-breakpoint-up(md) {
      width: 25%;
      padding-inline: 10px;
    }

    @include media-breakpoint-up(lg) {
      width: 16.667%;
    }

    @include media-breakpoint-up(xxl) {
      width: 12.5%;
    }

    .vdo-item {
      position: relative;
      height: 0;
      overflow: hidden;
      padding-top: 165%;
      border-radius: rem-calc(10px);

      @include media-breakpoint-up(md) {
        border-radius: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .vdo-btn-holder {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vdo-play-btn {
      color: $white;
      display: block;
      position: relative;
      z-index: 2;

      &:before {
        content: "\e900";
        font-family: 'lilya-icomoon';
        font-size: rem-calc(40px);

        @include media-breakpoint-up(md) {
          font-size: 80px;
        }
      }
    }
  }

  .flickity-prev-next-button {
    top: 0;
    transform: none;
    height: 100%;
    border-radius: 0;
    width: 20px;
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    @include media-breakpoint-up(md) {
      background: $white;
    }

    &.previous {
      right: 0;
    }

    &.next {
      left: 0;
    }

    &:focus {
      box-shadow: none;
    }

    &:active {
      opacity: 1;
    }

    .flickity-button-icon {
      width: 100%;
      height: auto;
      position: static;
    }
  }
}

.fancybox__backdrop {
  background: rgba($black, 0.8);
}

.fancybox__container {
  .fancybox__content {
    border-radius: rem-calc(5px);
    background: $black;

    @include media-breakpoint-up(md) {
      border-radius: 10px;
    }

    iframe {
      border-radius: rem-calc(5px);

      @include media-breakpoint-up(md) {
        border-radius: 10px;
      }
    }

    >.f-button.is-close-btn {
      opacity: 1;

      @include media-breakpoint-up(xl) {
        top: 0;
        right: -40px;
      }
    }
  }

  &.is-idle {
    .fancybox__nav {
      animation: none;
    }
  }
}