.hero-banner {
  position: relative;

  .bg-image {
    position: relative;

    img {
      width: 100%;
    }
  }

  .banner-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);

    @include media-breakpoint-down(sm) {
      margin-top: rem-calc(-40px);
    }
  }

  .banner-text {
    text-align: center;
    color: #fff;
    padding: 0 rem-calc(20px);

    @include media-breakpoint-up(md) {
      margin-inline: auto;
      padding: 0 40px;
      max-width: 500px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 890px;
    }
  }

  .banner-title {
    display: block;
    font-weight: 700;
    font-size: rem-calc(32px);
    line-height: 1.1;
    margin-bottom: rem-calc(16px);

    @include media-breakpoint-up(md) {
      font-size: 34px;
      margin-bottom: 13px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 38px;
      margin-bottom: 18px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
      margin-bottom: 18px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 48px;
      margin-bottom: 18px;
    }
  }

  .sub-heading {
    display: block;
    font-size: rem-calc(14px);
    line-height: 1.32142857;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  .btn-wrap {
    margin: rem-calc(40px) 0 0;
    column-gap: rem-calc(20px);
    row-gap: rem-calc(32px);
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
      column-gap: 40px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 40px;
    }
  }
}

.section-title {
    color: $theme-primary-color;
  font-weight: 700;
  font-size: rem-calc(32px);
  line-height: 1.1;
  margin-bottom: rem-calc(16px);

  @include media-breakpoint-up(md) {
    font-size: 34px;
    margin-bottom: 13px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 38px;
    margin-bottom: 18px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 42px;
    margin-bottom: 18px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 48px;
    margin-bottom: 18px;
  }
}

.about-section {
  padding: rem-calc(60px 20px);

  @include media-breakpoint-up(md) {
    padding: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding: 60px;
  }

  @include media-breakpoint-up(xxl) {
    padding: 200px 120px;
  }

  .btn-wrap {
    margin-top: 20px;
  }
}

.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0d1b48;
  color: white;
  padding: 40px 20px;
  text-align: center;

  .stat-box {
    flex: 1;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      position: relative;

      &:after {
        content: "+";
        position: relative;
        right: 0;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .text {
      font-size: 1rem;
      font-weight: bold;
      margin: 5px 0 0;
    }
  }
}
.service-section {
    padding: rem-calc(60px 20px);

    @include media-breakpoint-up(md) {
      padding: 30px;
    }
  
    @include media-breakpoint-up(lg) {
      padding: 40px;
    }
  
    @include media-breakpoint-up(xl) {
      padding: 60px;
    }
  
    @include media-breakpoint-up(xxl) {
      padding: 200px 120px;
    }
    .section-title {
        margin-bottom: rem-calc(20px);
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 80px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 100px;
        }
    }
}
.feature-section {
    padding: rem-calc(60px 20px);

    @include media-breakpoint-up(md) {
      padding: 30px;
    }
  
    @include media-breakpoint-up(lg) {
      padding: 40px;
    }
  
    @include media-breakpoint-up(xl) {
      padding: 60px;
    }
  
    @include media-breakpoint-up(xxl) {
      padding: 200px 120px;
    }
    .section-title {
        margin-bottom: rem-calc(20px);
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 80px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 100px;
        }
    }
    .feature-wrap  {
        justify-content: center;
        gap: 20px;
        .feature-item {
            text-align: center;
            background: rgba($theme-secondary-color,0.13);
            max-width: calc(50% - 50px);
            flex: 0 0 calc(50% - 50px);
            padding: rem-calc(20px);
            @include media-breakpoint-up(md) {
                padding: 20px;
            }
            &:nth-child(1),
            &:nth-child(4) {
                border-radius: 58px 0 58px 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                border-radius: 0 58px 0 58px ;
            }
            &:nth-child(5) {
                border-radius: 0 0 58px 58px;
            }
            .feature-text {
                @include media-breakpoint-up(md) {
                    margin-inline: auto;
                    max-width: 300px;
                }
            }
        }
    }
}

.content-layout {
    .content-layout__wrap {
        @include media-breakpoint-up(md) {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 40px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 80px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 120px;
        }
        .content-layout__info {
            @include media-breakpoint-up(md) {
                max-width: 469px;
            }
            .content-layout__title {
                margin-bottom: rem-calc(20px);
                @include media-breakpoint-up(md) {
                    margin-bottom: 30px;
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: 57px;
                }
            }
            .text {
                color: $theme-primary-color;
                font-size: rem-calc(18px);
                margin-bottom: rem-calc(30px);
                @include media-breakpoint-up(md) {
                    font-size: 18px;
                    margin-bottom: 40px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 20px;
                    margin-bottom: 60px;
                }
                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .content-layout__img {
            @include media-breakpoint-up(md) {
                max-width: 50%;
                flex: 0 0 50%;
            }
        }
    }
}

.testimonials {
  padding: 60px 20px;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #0d1b48;
  }

  .testimonial-slider {
    max-width: 800px;
    margin: 20px auto;
  }
}

/* Testimonial Card */
.testimonial {
  background-color: #0d1b48;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.3;
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.slick-center {
  opacity: 1;
  transform: scale(1);
}

/* Quote Symbol */
.quote {
  font-size: 3rem;
  display: block;
  color: rgba(255, 255, 255, 0.2);
}

.logo-layout {
    .section-title {
        margin-bottom: rem-calc(10px);
        @include media-breakpoint-up(md) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 60px;
        }
    }
}
.logo-layout__wrap {
    background: #E4E4E4;
    padding: rem-calc(60px 20px);

    @include media-breakpoint-up(md) {
      padding: 30px;
    }
  
    @include media-breakpoint-up(lg) {
      padding: 40px 60px;
    }
  
    @include media-breakpoint-up(xl) {
      padding: 60px 80px;
    }
  
    @include media-breakpoint-up(xxl) {
      padding: 63px 109px;
    }
}

.certified-text {
    background-color: rgba($theme-secondary-color,0.13);
    font-size: rem-calc(18px);
    padding: rem-calc(15px);
    @include media-breakpoint-up(md) {
        font-size: 22px;
        padding: 20px
    }

    @include media-breakpoint-up(lg) {
        font-size: 27px;
        padding: 27px;
    }
}