.job-listing {
  @extend %section-padding;
  @extend %section-margin;
}

.job-listing-wrap {
  justify-content: center;
  gap: rem-calc(20px);
  @include media-breakpoint-up(md) {
      gap: 20px;
  }
  @include media-breakpoint-up(lg) {
      gap: 20px;
  }
  @include media-breakpoint-up(xl) {
      gap: 30px;
  }
  .job-item {
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-up(md) {
          flex: 0 0 calc(50% - 20px);
          max-width: calc(50% - 20px);
      }
      @include media-breakpoint-up(lg) {
          flex: 0 0 calc(25% - 15px);
          max-width: calc(25% - 15px);
      }
      @include media-breakpoint-up(xl) {
          flex: 0 0 calc(25% - 22.5px);
          max-width: calc(25% - 22.5px);
      }
  }
}

.job-card {
  background: #fff;
  border-radius: rem-calc(10px);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  padding: rem-calc(20px);
  @include media-breakpoint-up(md) {
      padding: 20px;
      border-radius: 20px;
  }
  .job-card-header {
      display: flex;
      align-items: center;
      gap: rem-calc(10px);
      margin-bottom: rem-calc(15px);
      @include media-breakpoint-up(md) {
          margin-bottom: 26px;
      }
      @include media-breakpoint-up(md) {
          gap: 15px;
      }
      .company-logo {
          width: 34px;
          height: 34px;
          border-radius: 50px;
          overflow: hidden;
      }
      
      .company-info {
          .company-name {
              color: $theme-primary-color;
              font-weight: 500;
              font-size: rem-calc(14px);
              margin-bottom: rem-calc(2px);
              @include media-breakpoint-up(md) {
                  margin-bottom: 5px;
                  font-size: 16px;
              }
          }
          .job-type {
              color: $theme-primary-color;
              font-weight: 400;
              font-size: rem-calc(12px);
              @include media-breakpoint-up(md) {
                  font-size: 12px;
              }
          }
      }
  }
  .job-title {
      font-weight: 700;
      color: $theme-primary-color;
      margin-bottom: rem-calc(12px);
      font-size: 18px;
      @include media-breakpoint-up(md) {
          font-size: 20px;
          margin-bottom: 15px;
      }
  }
  
  .job-schedule {
      color: $theme-primary-color;
      font-weight: 500;
      font-size: rem-calc(14px);
      margin-bottom: rem-calc(12px);
      @include media-breakpoint-up(md) {
          margin-bottom: 15px;
          font-size: 16px;
      }
  }
  
  .job-description {
      color: #585858;
      font-weight: 400;
      font-size: rem-calc(12px);
      @include media-breakpoint-up(md) {
          font-size: 12px;
      }
  }
  
  .job-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .salary {
      color: $theme-primary-color;
      font-weight: 500;
      font-size: rem-calc(14px);
      @include media-breakpoint-up(md) {
          font-size: 16px;
      }
  }
  
  .apply-btn {
      background: #F9F9FF;
      color: $theme-primary-color;
      padding: rem-calc(10px);
      border-radius: rem-calc(5px);
      font-weight: 500;
      transition: 0.3s all ease;
      @include media-breakpoint-up(md) {
          padding: 10px;
          border-radius: 10px;
      }
      &:hover {
          background: $theme-primary-color;
          color: $white;
      }
  }
}

.job-more-btn {
  text-align: center;
  margin-top: rem-calc(30px);
  @include media-breakpoint-up(md) {
      margin-top: 30px;
  }
}
.sucess-stories {
  @extend %section-padding;
  @extend %section-margin;
}
.sucess-stories-wrap {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 1px 4px 0 rgba($black,0.25);
  gap: rem-calc(20px);
  @extend %section-padding;
  @extend %section-margin;
  padding: rem-calc(30px);
  @include media-breakpoint-down(md) {
      flex-wrap: wrap;
  }
  @include media-breakpoint-up(md) {
      padding: 30px;
      gap: 30px;
  }
  @include media-breakpoint-up(lg) {
      padding: 40px;
      gap: 40px;
  }
  @include media-breakpoint-up(xl) {
      padding: 40px 60px;
      gap: 50px;
  }
  @include media-breakpoint-up(xxl) {
      padding: 40px 70px;
      gap: 80px;
  }
  .sucess-item {
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-up(md) {
          flex: 0 0 calc(50% - 15px);
          max-width: calc(50% - 15px);
      }
      @include media-breakpoint-up(lg) {
          flex: 0 0 calc(25% - 20px);
          max-width: calc(25% - 20px);
      }
      @include media-breakpoint-up(xl) {
          flex: 0 0 calc(25% - 25px);
          max-width: calc(25% - 25px);
      }
      @include media-breakpoint-up(xxl) {
          flex: 0 0 calc(25% - 40px);
          max-width: calc(25% - 40px);
      }
  }
}

.sucess-item {
  .sucess-header {
      width: 34px;
      height: 34px;
      border-radius: 50px;
      overflow: hidden;
      margin-bottom: rem-calc(15px);
      @include media-breakpoint-up(md) {
          margin-bottom: 26px;
      }
  }
  .sucess-title {
      font-weight: 700;
      color: $theme-primary-color;
      margin-bottom: rem-calc(12px);
      font-size: 18px;
      @include media-breakpoint-up(md) {
          font-size: 20px;
          margin-bottom: 15px;
      }
  }
  .sucess-description {
      color: $theme-primary-color;
      font-weight: 400;
      font-size: rem-calc(12px);
      @include media-breakpoint-up(md) {
          font-size: 12px;
      }
  }
}