.recruitment-process {
    @extend %section-padding;
    @extend %p-100;
}

.recruitment-step {
    @extend %section-margin;

    @include media-breakpoint-down(sm) {
        padding-inline: rem-calc(12px);
    }

    .container {
        max-width: 778px;
    }

    .recruitment-step-title {
        color: $theme-primary-color;
        font-size: rem-calc(20px);
        margin-bottom: rem-calc(20px);

        @include media-breakpoint-up(md) {
            font-size: 22px;
            margin-bottom: 30px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 60px;
        }
    }
}