.talent-seeker-form {
    @extend %section-padding;
    @extend %section-margin;

    .wpcf7 {
        background: rgba(#F6F5F3, 0.42);
        padding: rem-calc(30px 20px);
        border-radius: rem-calc(15px);

        @include media-breakpoint-up(md) {
            border-radius: 27px;
            padding: 40px 30px;
        }

        @include media-breakpoint-up(lg) {
            padding: 60px 40px;
        }

        @include media-breakpoint-up(xl) {
            padding: 80px 40px;
        }
    }
}
